<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirB60B665046F103D44FFD74595BE82D83" Name="2021">
                <Directory Id="dir58E216340305DF18104446A6D3294320" Name="MyCompany.Template.RevitAddin">
                    <Component Id="cmp50FE71E2E592E4F22147D14BE17D0DBC" Guid="{F1D37635-9859-4D68-82CF-C5F2F6E13AED}">
                        <File Id="fil7C94A0BAE2182B16F8411092289192B7" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\App.db" />
                    </Component>
                    <Component Id="cmpF8DE802BE0066C3CD5FCB97EB2959EC7" Guid="{9A6518BD-2FD7-45DA-AC02-34F33F674D4F}">
                        <File Id="filBF62D47D8C4E49B160E00BACDA5AD88B" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.dll" />
                    </Component>
                    <Component Id="cmp5198B4A6F3F081449C428D87CC2AAD99" Guid="{7570759B-CC9D-4E70-A8F4-9A3EF286CA5A}">
                        <File Id="filB26493ABAFBABE07841D22DCCBB1A0A3" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.xml" />
                    </Component>
                    <Component Id="cmp42BD717BBF431074B85671326F077F85" Guid="{2BEE5181-B3FF-4177-8331-6CA716110D0F}">
                        <File Id="fil7BFC55A03A2F396DA48E8CEFCB7757E7" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.dll" />
                    </Component>
                    <Component Id="cmpE4A7382F22E07649BDF926F9B5A805B5" Guid="{903235B9-A0AC-44C3-AF3D-7756ECE46C3B}">
                        <File Id="fil572C92CFC3109CF905A03330E606E91B" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.pdb" />
                    </Component>
                    <Component Id="cmpD80320699E56D75CD1B13EC7D0F059EF" Guid="{3AE692CA-D18B-4DE9-AAC0-FF3E3193DC74}">
                        <File Id="filC933740B9E9861C7FA567B033E678FDB" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.addin" />
                    </Component>
                    <Component Id="cmp4936BEDCC324401C301B082E60F69153" Guid="{8D7BB70B-692F-4833-A09A-291452286893}">
                        <File Id="filF8C16FC273C1923F1442D067AA875672" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll" />
                    </Component>
                    <Component Id="cmpAFE5CF3A2A76B24189D38290F7B37085" Guid="{AECBC386-F47E-4AB9-AE45-6ACDFCA6565E}">
                        <File Id="fil8286DEB4E483B53772A7C55E845A061D" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll.config" />
                    </Component>
                    <Component Id="cmp150D0B8A50BE39C552FCF07D86A1A059" Guid="{04A9E842-70C0-433C-9394-AC7ECAA73EE6}">
                        <File Id="fil6ED527D2A81A842B374BC58F886B86EB" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.pdb" />
                    </Component>
                    <Component Id="cmpB529E7C7E322490EFFAFA76B60B8D486" Guid="{DBC7C8B1-2B86-4C80-8142-C36E6FAB328B}">
                        <File Id="filE490BB003373087F92B233D7E86303E6" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll" />
                    </Component>
                    <Component Id="cmp19574030E0DAB9632EDC5E8BAA297BCD" Guid="{F29A58F8-5223-42EE-9C3E-4B1AC24D6E24}">
                        <File Id="filEA110EE50C1176CB77A37DE72187332A" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll.config" />
                    </Component>
                    <Component Id="cmp69FF6C2315D1C4CDDEE447C442172A11" Guid="{0EB4E63F-A95B-45F1-95DF-3E39A273E1E8}">
                        <File Id="fil54B50AA9CF33C3685C70E6CFE7DDDBB5" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll" />
                    </Component>
                    <Component Id="cmp9BDF270FFC06BE2064A95896C62304B8" Guid="{6A966C00-BFAE-4FBC-8828-EB203898E821}">
                        <File Id="filF421DE934A556C4F31FE386C7013E9CB" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll.config" />
                    </Component>
                    <Component Id="cmpB7DC915DD38A43D2214D0BA1C064DD34" Guid="{9D19A830-27AE-418B-9AF9-F1D541D68F08}">
                        <File Id="fil2FB2FAB8E6F4AC1A162BD4E3C27249AE" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\MyCompany.Template.UI.pdb" />
                    </Component>
                    <Component Id="cmpF3008353D68C13FA0C4CDF8CFD20F8C3" Guid="{0AF5141E-C066-4109-AAC2-AC2CF2355827}">
                        <File Id="fil333C7B01242B20448B3360AFC677B3E8" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\Newtonsoft.Json.dll" />
                    </Component>
                    <Component Id="cmp96E7B0125DA2319EBCDB345FCA2EC7ED" Guid="{61D9E7C6-DE8D-4038-B2B7-1B397CD2AFCF}">
                        <File Id="fil3748AAE3E0B5FEB4B18BD9441F3DD5A5" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\Newtonsoft.Json.xml" />
                    </Component>
                    <Component Id="cmp44CEAFB5CC7D15BB2C0799ADB4BCF716" Guid="{DF99B1CC-C617-47B5-9D93-FEDFFC1921B7}">
                        <File Id="filD6CFD970FF1DFAE827644706F9E920C2" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\RestSharp.dll" />
                    </Component>
                    <Component Id="cmp6704A8C8E77EC60D802E23C1FC4E9525" Guid="{3A7895C6-1E59-48BE-AF79-331596420012}">
                        <File Id="fil02158847E1603296D1675112BC17B412" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\RestSharp.xml" />
                    </Component>
                    <Component Id="cmp49D4F7C85BBAE9AE50B88F0F70929FD9" Guid="{BE997C2D-AF91-4793-A41B-9B986C0A9E96}">
                        <File Id="fil9C1EA5A8F19ECB4D6110ACA6E6C27BE5" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Buffers.dll" />
                    </Component>
                    <Component Id="cmpA0C3670E36FB587755B3166CF88EF4B5" Guid="{A8BB19DC-D887-405C-8948-11815F218ABA}">
                        <File Id="fil4C7FFCE7A67479C2BD2B607E4DA7F98C" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Buffers.xml" />
                    </Component>
                    <Component Id="cmpDD9AEF2B7849D13B0E8B513C745EA026" Guid="{7CFD2163-CA44-42F1-8E20-6D52E2244880}">
                        <File Id="fil1574493F7C430353F9F4FF40743410C8" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Memory.dll" />
                    </Component>
                    <Component Id="cmp03FDCABED4B9AFE049C070F468491D35" Guid="{7E5ADBE6-ACD2-4204-AF42-FE913D17091E}">
                        <File Id="filBD4FAE68311413A1FEB100F2642E9FF6" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Memory.xml" />
                    </Component>
                    <Component Id="cmp4D2C493404ECF58CE0652E1CB419C4AC" Guid="{C02D7635-A8E3-479F-87BC-EB2CB6156BE3}">
                        <File Id="filE6B41CCAFF8538BAD34C058E62AADBF4" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Numerics.Vectors.dll" />
                    </Component>
                    <Component Id="cmp8F837EF1D0C378FF0103321C3DC1A930" Guid="{05E17D65-E334-47C1-9C17-729F49E489A2}">
                        <File Id="fil4610FA609FD512CCC4190FD701100E77" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Numerics.Vectors.xml" />
                    </Component>
                    <Component Id="cmpA7A0D9DDFAC223B8E8BF7751C3A832AB" Guid="{F98F21BE-6710-46B4-86A6-13560103BC59}">
                        <File Id="fil44E0CF71AF5FA309660A37B691430D14" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.dll" />
                    </Component>
                    <Component Id="cmp27DF61AB1B4526CB4DD12ABADC732307" Guid="{36C5CA5E-A334-4129-9A91-FD2FDB1E555D}">
                        <File Id="fil82A06BEAC827D27441949BBBF2498AE4" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.xml" />
                    </Component>
                    <Component Id="cmpC9CC77EEB36418D21E7DEFACFCD3C178" Guid="{4B53268C-5FF0-4078-98B5-1D6D7F4BBF90}">
                        <File Id="fil07E994A7FA5D739966D333155E489564" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.dll" />
                    </Component>
                    <Component Id="cmp760D97A7B916872AE39E6C1CA6F36459" Guid="{90AC1713-F49F-4A3D-B3CA-94C286DB2598}">
                        <File Id="filA121C829C77030701BBF5465481B4379" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.xml" />
                    </Component>
                    <Component Id="cmp9E27EAF0FB2E3C1BAB8818532C8C814B" Guid="{48F2DEBD-4C8C-409A-BEDD-59C51ED41258}">
                        <File Id="filDAF438ED5A09257E3B4D2693C0ACBA0B" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Text.Json.dll" />
                    </Component>
                    <Component Id="cmp14C63CBF2FCCB6EC67A023A8CF8FD717" Guid="{2EEF5EA5-564C-474F-A197-527B10C19F83}">
                        <File Id="filE8744753A6DB42103A5FA8568D1D1AF7" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Text.Json.xml" />
                    </Component>
                    <Component Id="cmp93B856CAD42F7D200A5EE79375B0D45C" Guid="{86DA0604-B732-4E3A-9409-96A74FB0413A}">
                        <File Id="fil7AC953B2741E2B19C5F6E1601C661654" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.dll" />
                    </Component>
                    <Component Id="cmp2A22F1CEDF80B3B7FCAECEE90A2E4576" Guid="{CFB76A79-3020-43B6-A9B1-1390B32960DD}">
                        <File Id="fil4CE87F20D3C95B35BDF11AAED9AB21E2" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.xml" />
                    </Component>
                    <Component Id="cmp4F7AA97B726F0279F16FB31D3F354CA3" Guid="{0340B002-139F-48E2-8207-0C7DC824BD2C}">
                        <File Id="fil63984D1A5C8940B4AA96BC0923DE31D7" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.ValueTuple.dll" />
                    </Component>
                    <Component Id="cmp639D7FFE636AECF49F2C2CD013336F77" Guid="{BD748090-CB81-42A6-9EAA-3F930D0352FB}">
                        <File Id="filF6CDD65CF4E41D958E58B96D6AC9CE08" KeyPath="yes" Source="$(var.BasePath)\2021\MyCompany.Template.RevitAddin\System.ValueTuple.xml" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirC61F985304E830C31712E096EF1CDA60" Name="2022">
                <Directory Id="dir366F661749F8E16280F34E0764A5FC34" Name="MyCompany.Template.RevitAddin">
                    <Component Id="cmp8B603EFEEAF361C25D519AEAE966944D" Guid="{8215AE92-8D62-4C16-A7D4-D0B58BE7DD68}">
                        <File Id="fil891A001A48D78AC682CE04F3750048DD" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\App.db" />
                    </Component>
                    <Component Id="cmp51177D7493B2CA83C93C2C19692EDADA" Guid="{8F7B29AB-2C72-4A4A-A541-A7AD6C6F3AEA}">
                        <File Id="filBCBA87CEEEBB43902551D1AC0DA784BE" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.dll" />
                    </Component>
                    <Component Id="cmp62E41F37CDD3DE2932FC7E86912D2093" Guid="{80D172A6-CCBA-44CC-9942-247FBF2E5609}">
                        <File Id="fil7BFF4218974CE92EB4939D10420ADC6C" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.xml" />
                    </Component>
                    <Component Id="cmpE5B6772960176FC60A11B8E9272A252C" Guid="{6E22960C-F9B1-4490-A760-2451ADE5D3CB}">
                        <File Id="filC5297C4BC49439D5EF6D31842384EE05" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.dll" />
                    </Component>
                    <Component Id="cmp594C7831EA30DE7ED8B52DA75BBF3401" Guid="{95DCB355-C8C8-4301-B05D-0E2AFBFAB84D}">
                        <File Id="fil05BBFC86FF2B3A82ED0508BE6EE59AAA" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.pdb" />
                    </Component>
                    <Component Id="cmp63C7E5A92879C62ABA145D6922D437BA" Guid="{DB44BD45-EC6E-43CB-B178-90438FC4CCE8}">
                        <File Id="fil6DA0CD240F0718EFB27DFFEFEE258F90" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.addin" />
                    </Component>
                    <Component Id="cmp6D613CA390DA097FEC8DB69320358DCF" Guid="{168050FF-4520-46DF-B4D2-B39A324BD54C}">
                        <File Id="filA1294046A1C0DCB7CC06A2948CF8C316" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll" />
                    </Component>
                    <Component Id="cmpFD4E0110A874C67A086DB1ADF39648AD" Guid="{3AAA7325-2E23-4F0E-A237-092AFFC60AE3}">
                        <File Id="fil23BBAF88D1693DECD949EA5B39A89219" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll.config" />
                    </Component>
                    <Component Id="cmpD502734260AEF5CFA157ADE483F2446A" Guid="{ABA1D118-8A4B-400A-87AB-24F4654FCA1F}">
                        <File Id="filC4986023DECCF33C6244363490567D1E" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.pdb" />
                    </Component>
                    <Component Id="cmpDCEE0E50FD7B138E8B4BDD764DD3C4B0" Guid="{7E8B289C-02CD-4DCA-9F0C-2A7D35D75537}">
                        <File Id="fil81333F68893481C7D9D7455362483496" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll" />
                    </Component>
                    <Component Id="cmp9802D228363162F86D1017CB8338A9CC" Guid="{0EE14708-15D4-4ADD-8B5E-F09D2362B50D}">
                        <File Id="fil3A0C90482610F1B92F34607805F38392" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll.config" />
                    </Component>
                    <Component Id="cmp8460A49E6A7B604E740DD9ABA6E4BFC3" Guid="{1A92B464-CB64-4DB6-96FF-3E68BEED2C0D}">
                        <File Id="fil8641E94CABCDAF214586BAAAD6E59249" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll" />
                    </Component>
                    <Component Id="cmp46E56B8AF7DBC53665B0A007AE9ACE61" Guid="{3217E6C1-0827-4AA3-9676-A9AF73ED22CC}">
                        <File Id="fil287047AF028D72358182721F8BA56669" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll.config" />
                    </Component>
                    <Component Id="cmp464809E8ABFB0D496FA22640D431B5C8" Guid="{E67BB025-F475-4BAA-A634-282391EA78C8}">
                        <File Id="filE6F1DCCC2E7546368C52186F4A6281AC" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\MyCompany.Template.UI.pdb" />
                    </Component>
                    <Component Id="cmpD1F817E8E58CFE8295D8D02C52764C8A" Guid="{4E7362D2-AA06-4473-A811-DCD415826E7E}">
                        <File Id="fil2EE03259D3F5FFFC1638B2290BB026F7" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\Newtonsoft.Json.dll" />
                    </Component>
                    <Component Id="cmp6F868F16FC104CB62BB492FDEB47F007" Guid="{71302FCD-51A0-4EE4-8DB7-1110329D395E}">
                        <File Id="fil3352735979BFC5F23F5520D12BB56823" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\Newtonsoft.Json.xml" />
                    </Component>
                    <Component Id="cmpD9F9AA6D6CAA5110B339172159B15B1A" Guid="{CCC6B38D-514B-4C67-8D65-262451F4D547}">
                        <File Id="fil5D68C46112DB03585DE8E896DD709578" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\RestSharp.dll" />
                    </Component>
                    <Component Id="cmp961D9C06602E887003ECA990A5CAFCFF" Guid="{16D14EC4-144A-483D-ABE7-135C1CB7FEC4}">
                        <File Id="filBC268B0E14466CD273ADA6CD7CAA6F72" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\RestSharp.xml" />
                    </Component>
                    <Component Id="cmp71D803A5136EA195D9ECFB215AC8479B" Guid="{8F4C6F14-BE2E-4546-8A74-5C49BCBCD333}">
                        <File Id="filBB1954079915184A55CB46A4E14D9524" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Buffers.dll" />
                    </Component>
                    <Component Id="cmpF1C400FF277D9D41013EFF9BF1DE215C" Guid="{16CE0297-EA8A-4C03-8B0E-981B9C94F061}">
                        <File Id="fil800507918C4C6918505C458B61694755" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Buffers.xml" />
                    </Component>
                    <Component Id="cmp863B6333BE6CCFF1063D514D2FCF6026" Guid="{8438C9CD-95AD-4805-A3C7-148114392E01}">
                        <File Id="fil38788A52BADDF5275DF6586071DF7701" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Memory.dll" />
                    </Component>
                    <Component Id="cmp6E4F685D2CAB57741C936C7EFEEA9022" Guid="{7530A53F-513D-4257-87C7-9BA3EFCF00BD}">
                        <File Id="filDA9BE93C3732F140B8FBA028210143EA" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Memory.xml" />
                    </Component>
                    <Component Id="cmpD6C31A0997C36A5D1C351596955128DE" Guid="{64D15B63-565D-41CA-8D24-103F04A0B81D}">
                        <File Id="filD437B093874DFBDCEC8F14641272EF39" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Numerics.Vectors.dll" />
                    </Component>
                    <Component Id="cmp4C04E277972D1FD7C634D32B3D2D5F6C" Guid="{1F9DFD44-571A-45F6-B609-BDB914B8F07D}">
                        <File Id="filD5152410B47DCED171DD088B10786443" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Numerics.Vectors.xml" />
                    </Component>
                    <Component Id="cmpE117695D85AC17AD544E649BC6B4A254" Guid="{2238FB00-DB4F-4717-992F-24B841D45636}">
                        <File Id="fil805C961F16EC030F4DD3B24C306592AB" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.dll" />
                    </Component>
                    <Component Id="cmp676D8B6B4EB174AA62BDBB729A1241F3" Guid="{1219A1C2-12A2-4F3F-9723-4584B6D6A496}">
                        <File Id="fil5EB144454E9051BEEB9FBF65F485C194" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.xml" />
                    </Component>
                    <Component Id="cmp204340D97B25B7A821D0154E4FFB3945" Guid="{53B9DA6A-1B43-4CBC-800D-AB5B564A4413}">
                        <File Id="fil71F12AF894582BF907627004F3B3A760" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.dll" />
                    </Component>
                    <Component Id="cmpC4BAC794E4256A171C465CBD55A1680C" Guid="{FD43771B-594E-4C20-836C-9FC092A9C056}">
                        <File Id="fil22D5251A47A54DA83182E34B936B4B92" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.xml" />
                    </Component>
                    <Component Id="cmp37BE528E7F969FB91AB395E66670E262" Guid="{A9077607-8283-422F-9424-89E62F632A9C}">
                        <File Id="fil3DC275CAFD4F6BF5C3C8E72937D30F39" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Text.Json.dll" />
                    </Component>
                    <Component Id="cmp6BB7A0EE23A22EB893681FE9584F0354" Guid="{F3F64486-24B4-4406-AC71-D10AD795837A}">
                        <File Id="fil3E4639D272B36773AFAFCEA5868EC9D1" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Text.Json.xml" />
                    </Component>
                    <Component Id="cmp1031FED0C21C5A0F9E73FC624BF2796B" Guid="{223A2224-C03A-4CFA-86CA-14F9B7BECC2A}">
                        <File Id="filB64871B321E67937353FCDFB7A39C724" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.dll" />
                    </Component>
                    <Component Id="cmp59D69822A94192087FF57B22772ECADC" Guid="{1D533379-60BA-4541-A5A3-18A8D67CE733}">
                        <File Id="filA912658533431D2DFDB6F66938F1660C" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.xml" />
                    </Component>
                    <Component Id="cmpEE7222AB65E50D61EF6556F60288388C" Guid="{3CA4293D-5604-4489-A744-E285F8DAAF48}">
                        <File Id="fil9BE4A33CC011B441A0EB70BB8DCAD839" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.ValueTuple.dll" />
                    </Component>
                    <Component Id="cmp43F11274D2961954823351B0DC3F5300" Guid="{10DA6002-8869-4BD3-BB5A-D22F0724BB92}">
                        <File Id="filD6CF97BC0FA3A93E4377BE84DEEC352E" KeyPath="yes" Source="$(var.BasePath)\2022\MyCompany.Template.RevitAddin\System.ValueTuple.xml" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir9BA393E8EAF745B5592E25228B40DCF7" Name="2024">
                <Directory Id="dir73F23E0D185964874E05549A7D164498" Name="MyCompany.Template.RevitAddin">
                    <Component Id="cmp4B7E8A64C93E59C63AD515D9D2F4604E" Guid="{E93D2BE0-ABFF-4B29-B590-DB429CF17455}">
                        <File Id="fil20771D6CD63B3F896A532F86D09A2263" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\App.db" />
                    </Component>
                    <Component Id="cmp9A8B7B8DA783BB1199F9E8C0B82D0A53" Guid="{4B70684E-2166-4722-A47A-1455A3CB34EC}">
                        <File Id="fil5210AB395FA4A94B12C30F0C211EDA7C" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.dll" />
                    </Component>
                    <Component Id="cmpF0150E8DBC8D00A936430FB640D8488B" Guid="{6C5BA0E8-C86F-4C86-B44A-4662777EF2C4}">
                        <File Id="fil633E38DF20D19C0774894D6EB066ACF0" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\Microsoft.Bcl.AsyncInterfaces.xml" />
                    </Component>
                    <Component Id="cmpD7108E86D869A801E1BB46F84779259D" Guid="{70657D9C-63C2-41C0-97DE-4F591DD8F9B4}">
                        <File Id="fil519EA68AC7C4324CA37EA3840A38252F" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.dll" />
                    </Component>
                    <Component Id="cmp39E550973C198C189FF205AADE09B5BB" Guid="{110B6ED9-21A6-4F28-B270-38F7621D2448}">
                        <File Id="fil42C9736D081501CCD150130D435AC90D" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.Abstraction.pdb" />
                    </Component>
                    <Component Id="cmpDE01873D02F5C1449F7BF66670E4991E" Guid="{434E7802-90B1-4EB4-8D3E-844AA9637829}">
                        <File Id="filA52B1B6781E9417FA6A387254C2452F7" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.addin" />
                    </Component>
                    <Component Id="cmp5412BD2D8E98C176F8E4FFB81C8FEF75" Guid="{DFB9C707-1F27-4723-851B-5BF88812CB34}">
                        <File Id="filB5D0536FD050E6BC52DDF37CBF4F179C" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll" />
                    </Component>
                    <Component Id="cmpFC195FAE20D5C73532D6AE2E058996D3" Guid="{497A980B-3060-4D87-8AFF-503149710E4B}">
                        <File Id="filFAA512617318DFEE09842CC473DD5213" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.dll.config" />
                    </Component>
                    <Component Id="cmp4A59CE38606DB2F6CE666AA80C7E2CC6" Guid="{30860DC9-41FA-4B4E-AB78-A51AB2273B68}">
                        <File Id="fil5B8537053DFDBE322A41549D65F7021F" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.DataAccess.pdb" />
                    </Component>
                    <Component Id="cmp991D1A307FF0B92A8CF3C439015AA5ED" Guid="{37BB741E-11D2-4B24-B8BD-5748788FF725}">
                        <File Id="fil33CBFE73845D69452187BE8BE3A1293C" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll" />
                    </Component>
                    <Component Id="cmpA5827FF555388461F63972C054ED0CC9" Guid="{91998FF5-3507-4A56-97BD-5A511B6DAD0C}">
                        <File Id="fil4985BFC35A46041B5DF928624E3F30A1" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.RevitAddin.dll.config" />
                    </Component>
                    <Component Id="cmp8A90F09A99A4ECAEF471C388090FC7B8" Guid="{82E41F53-5F28-491F-9309-5D829FAC6F89}">
                        <File Id="fil98F82C743064F8169E44ED9D3E7E369F" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll" />
                    </Component>
                    <Component Id="cmp7526ADFB3E0CF5362B0BF3AB2972B74D" Guid="{197B41BE-9E27-477B-BCA4-C31CF32617F7}">
                        <File Id="filAA66E01488372458CA8BC23AE41F7457" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.UI.dll.config" />
                    </Component>
                    <Component Id="cmpCCE0D8BC80A1D33066D34D56BF67AB2A" Guid="{6B592466-9E4E-4527-87F3-C971F0DD5AD5}">
                        <File Id="fil8B1F778896267D8FEDF6AD91BD56AC1D" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\MyCompany.Template.UI.pdb" />
                    </Component>
                    <Component Id="cmpDB6FDF1975FB1F5D41A07562D43172AC" Guid="{087616A6-2412-4976-8720-826939227F1A}">
                        <File Id="filF2600406476CB614563A346257B76A70" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\Newtonsoft.Json.dll" />
                    </Component>
                    <Component Id="cmpEDEC09E337FAD155B0BEF11C1EAE6F9D" Guid="{84F750DF-C5DC-4C92-A9A2-124612187490}">
                        <File Id="fil02200623634340EAF14B46DFE3CA38A5" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\Newtonsoft.Json.xml" />
                    </Component>
                    <Component Id="cmp507D3B81FA8917FFB22BB291C991D1A0" Guid="{2C1A2B38-A67A-4E6C-A08F-A33422E882B8}">
                        <File Id="fil0EE68F93DDA3E92A56C4477F8D994D99" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\RestSharp.dll" />
                    </Component>
                    <Component Id="cmpE739EEAEDDDDB5EC21DC067D878DDC4D" Guid="{D4BAFF73-87E1-46C3-A38B-54B53715AFFC}">
                        <File Id="fil5CFC43B737DD382BBD4C3F00ADA3214B" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\RestSharp.xml" />
                    </Component>
                    <Component Id="cmp30253D1201E8E463A0AC24A1EA1344EF" Guid="{C7A703DC-A5F0-47BA-A898-C7A5D02DE8DF}">
                        <File Id="fil75F2C15E61B4C97763B6C75BB98C82C4" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Buffers.dll" />
                    </Component>
                    <Component Id="cmp0E41D5376B4D0DC9B68CFE420F69F363" Guid="{0FD33971-683C-47B5-A5A9-2EFA96A9ABC3}">
                        <File Id="fil6DF7166DB602AEDC27E8EE514A014F46" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Buffers.xml" />
                    </Component>
                    <Component Id="cmpB9314262D986CC7CCCCC180F9D7D80AC" Guid="{A8CF87B0-1DE5-4689-8CD2-A1264979C699}">
                        <File Id="fil919344CC971E2DDB8CDC144882AADBD6" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Memory.dll" />
                    </Component>
                    <Component Id="cmp54582BA32C9FBE9ED14B71E43A86CA0E" Guid="{337A8733-62F3-4DE5-928E-428F02AE8ACE}">
                        <File Id="filE84271D78BDB0BFD4361BDAB2BE9F174" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Memory.xml" />
                    </Component>
                    <Component Id="cmpB8B603E254EC126EA1901A55403E38C6" Guid="{A8EC80F8-BB5B-4A3A-8BFC-3446D984A07E}">
                        <File Id="filEADB7C5BCCF97C6121054FCF243981DB" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Numerics.Vectors.dll" />
                    </Component>
                    <Component Id="cmp9947F16A3CC0D88DD02A8B3546525608" Guid="{7F10EA72-C35D-4EF1-8A3B-98176CF4B964}">
                        <File Id="fil4428AEDB0FC63893696D9C9BE42BC5F4" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Numerics.Vectors.xml" />
                    </Component>
                    <Component Id="cmpB7F96D53C776969D59F33B3ADC228A3F" Guid="{B2CF2CE6-EE21-4CD1-84A5-2711ACECEC8E}">
                        <File Id="filF753E405885BF2EE792E61F215D4F973" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.dll" />
                    </Component>
                    <Component Id="cmpC2CA6E2BD42215A5E1A928577011C11D" Guid="{456C1034-14AA-43C9-A003-9444182A8EF9}">
                        <File Id="fil95022BBC77D75AE583EAE6C0E1E9D288" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Runtime.CompilerServices.Unsafe.xml" />
                    </Component>
                    <Component Id="cmp0DC8E872805305DD7BD89497A9E00668" Guid="{E24D5A5E-B734-4CFD-B11E-7708E48200F3}">
                        <File Id="fil43B610BC4AD0F538F6ADFA5D2D7132D4" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.dll" />
                    </Component>
                    <Component Id="cmpE777A7058B3F9EDAA25426A353CBD94C" Guid="{1A9663FA-4FDE-4E3E-8C21-6B8896F6496E}">
                        <File Id="fil5B171A14ED1BF8D3B4333760BCD7DA21" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Text.Encodings.Web.xml" />
                    </Component>
                    <Component Id="cmpDD40B3709C901D4730571E75B828145D" Guid="{B7F445C0-2AEA-419B-AE89-B45609430A89}">
                        <File Id="filB4FC3AD33CFDB272A6CAF3135C7C5FE1" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Text.Json.dll" />
                    </Component>
                    <Component Id="cmpDA147DD41BE05AB0C241E3E25C195151" Guid="{8908D1E1-9CB8-4E37-81D9-21488D2EF6D7}">
                        <File Id="filB4FC3AFF32813BE798600F65F6D4E98B" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Text.Json.xml" />
                    </Component>
                    <Component Id="cmpB0C21B76200AB6988C55D9892F120FC7" Guid="{F25FD94F-E3B6-4C36-8DF8-54B8F6D7830F}">
                        <File Id="fil6C9BAF76F313903D3517FBAC202F0474" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.dll" />
                    </Component>
                    <Component Id="cmpB3774B66FF3526DE91027812D2B5D0DE" Guid="{1CC44732-DBBD-495E-A8B6-EC1361BED16A}">
                        <File Id="fil42B0A730CEC6D1F1D1E3D7052CBE432E" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.Threading.Tasks.Extensions.xml" />
                    </Component>
                    <Component Id="cmp91937BC4B63D54811D75C0E3AD53D006" Guid="{B9EF9DB9-1890-4CE9-8A62-68DE6B96237A}">
                        <File Id="fil5DEE72927DE59DB96E40EDF834982703" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.ValueTuple.dll" />
                    </Component>
                    <Component Id="cmp2FF6428F9F2ABF1251812E93E09F345D" Guid="{62798DAF-1794-40D9-971E-50AA2077468F}">
                        <File Id="fil3D5D1F95D78CCE99EEE54809035EB793" KeyPath="yes" Source="$(var.BasePath)\2024\MyCompany.Template.RevitAddin\System.ValueTuple.xml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp50FE71E2E592E4F22147D14BE17D0DBC" />
            <ComponentRef Id="cmpF8DE802BE0066C3CD5FCB97EB2959EC7" />
            <ComponentRef Id="cmp5198B4A6F3F081449C428D87CC2AAD99" />
            <ComponentRef Id="cmp42BD717BBF431074B85671326F077F85" />
            <ComponentRef Id="cmpE4A7382F22E07649BDF926F9B5A805B5" />
            <ComponentRef Id="cmpD80320699E56D75CD1B13EC7D0F059EF" />
            <ComponentRef Id="cmp4936BEDCC324401C301B082E60F69153" />
            <ComponentRef Id="cmpAFE5CF3A2A76B24189D38290F7B37085" />
            <ComponentRef Id="cmp150D0B8A50BE39C552FCF07D86A1A059" />
            <ComponentRef Id="cmpB529E7C7E322490EFFAFA76B60B8D486" />
            <ComponentRef Id="cmp19574030E0DAB9632EDC5E8BAA297BCD" />
            <ComponentRef Id="cmp69FF6C2315D1C4CDDEE447C442172A11" />
            <ComponentRef Id="cmp9BDF270FFC06BE2064A95896C62304B8" />
            <ComponentRef Id="cmpB7DC915DD38A43D2214D0BA1C064DD34" />
            <ComponentRef Id="cmpF3008353D68C13FA0C4CDF8CFD20F8C3" />
            <ComponentRef Id="cmp96E7B0125DA2319EBCDB345FCA2EC7ED" />
            <ComponentRef Id="cmp44CEAFB5CC7D15BB2C0799ADB4BCF716" />
            <ComponentRef Id="cmp6704A8C8E77EC60D802E23C1FC4E9525" />
            <ComponentRef Id="cmp49D4F7C85BBAE9AE50B88F0F70929FD9" />
            <ComponentRef Id="cmpA0C3670E36FB587755B3166CF88EF4B5" />
            <ComponentRef Id="cmpDD9AEF2B7849D13B0E8B513C745EA026" />
            <ComponentRef Id="cmp03FDCABED4B9AFE049C070F468491D35" />
            <ComponentRef Id="cmp4D2C493404ECF58CE0652E1CB419C4AC" />
            <ComponentRef Id="cmp8F837EF1D0C378FF0103321C3DC1A930" />
            <ComponentRef Id="cmpA7A0D9DDFAC223B8E8BF7751C3A832AB" />
            <ComponentRef Id="cmp27DF61AB1B4526CB4DD12ABADC732307" />
            <ComponentRef Id="cmpC9CC77EEB36418D21E7DEFACFCD3C178" />
            <ComponentRef Id="cmp760D97A7B916872AE39E6C1CA6F36459" />
            <ComponentRef Id="cmp9E27EAF0FB2E3C1BAB8818532C8C814B" />
            <ComponentRef Id="cmp14C63CBF2FCCB6EC67A023A8CF8FD717" />
            <ComponentRef Id="cmp93B856CAD42F7D200A5EE79375B0D45C" />
            <ComponentRef Id="cmp2A22F1CEDF80B3B7FCAECEE90A2E4576" />
            <ComponentRef Id="cmp4F7AA97B726F0279F16FB31D3F354CA3" />
            <ComponentRef Id="cmp639D7FFE636AECF49F2C2CD013336F77" />
            <ComponentRef Id="cmp8B603EFEEAF361C25D519AEAE966944D" />
            <ComponentRef Id="cmp51177D7493B2CA83C93C2C19692EDADA" />
            <ComponentRef Id="cmp62E41F37CDD3DE2932FC7E86912D2093" />
            <ComponentRef Id="cmpE5B6772960176FC60A11B8E9272A252C" />
            <ComponentRef Id="cmp594C7831EA30DE7ED8B52DA75BBF3401" />
            <ComponentRef Id="cmp63C7E5A92879C62ABA145D6922D437BA" />
            <ComponentRef Id="cmp6D613CA390DA097FEC8DB69320358DCF" />
            <ComponentRef Id="cmpFD4E0110A874C67A086DB1ADF39648AD" />
            <ComponentRef Id="cmpD502734260AEF5CFA157ADE483F2446A" />
            <ComponentRef Id="cmpDCEE0E50FD7B138E8B4BDD764DD3C4B0" />
            <ComponentRef Id="cmp9802D228363162F86D1017CB8338A9CC" />
            <ComponentRef Id="cmp8460A49E6A7B604E740DD9ABA6E4BFC3" />
            <ComponentRef Id="cmp46E56B8AF7DBC53665B0A007AE9ACE61" />
            <ComponentRef Id="cmp464809E8ABFB0D496FA22640D431B5C8" />
            <ComponentRef Id="cmpD1F817E8E58CFE8295D8D02C52764C8A" />
            <ComponentRef Id="cmp6F868F16FC104CB62BB492FDEB47F007" />
            <ComponentRef Id="cmpD9F9AA6D6CAA5110B339172159B15B1A" />
            <ComponentRef Id="cmp961D9C06602E887003ECA990A5CAFCFF" />
            <ComponentRef Id="cmp71D803A5136EA195D9ECFB215AC8479B" />
            <ComponentRef Id="cmpF1C400FF277D9D41013EFF9BF1DE215C" />
            <ComponentRef Id="cmp863B6333BE6CCFF1063D514D2FCF6026" />
            <ComponentRef Id="cmp6E4F685D2CAB57741C936C7EFEEA9022" />
            <ComponentRef Id="cmpD6C31A0997C36A5D1C351596955128DE" />
            <ComponentRef Id="cmp4C04E277972D1FD7C634D32B3D2D5F6C" />
            <ComponentRef Id="cmpE117695D85AC17AD544E649BC6B4A254" />
            <ComponentRef Id="cmp676D8B6B4EB174AA62BDBB729A1241F3" />
            <ComponentRef Id="cmp204340D97B25B7A821D0154E4FFB3945" />
            <ComponentRef Id="cmpC4BAC794E4256A171C465CBD55A1680C" />
            <ComponentRef Id="cmp37BE528E7F969FB91AB395E66670E262" />
            <ComponentRef Id="cmp6BB7A0EE23A22EB893681FE9584F0354" />
            <ComponentRef Id="cmp1031FED0C21C5A0F9E73FC624BF2796B" />
            <ComponentRef Id="cmp59D69822A94192087FF57B22772ECADC" />
            <ComponentRef Id="cmpEE7222AB65E50D61EF6556F60288388C" />
            <ComponentRef Id="cmp43F11274D2961954823351B0DC3F5300" />
            <ComponentRef Id="cmp4B7E8A64C93E59C63AD515D9D2F4604E" />
            <ComponentRef Id="cmp9A8B7B8DA783BB1199F9E8C0B82D0A53" />
            <ComponentRef Id="cmpF0150E8DBC8D00A936430FB640D8488B" />
            <ComponentRef Id="cmpD7108E86D869A801E1BB46F84779259D" />
            <ComponentRef Id="cmp39E550973C198C189FF205AADE09B5BB" />
            <ComponentRef Id="cmpDE01873D02F5C1449F7BF66670E4991E" />
            <ComponentRef Id="cmp5412BD2D8E98C176F8E4FFB81C8FEF75" />
            <ComponentRef Id="cmpFC195FAE20D5C73532D6AE2E058996D3" />
            <ComponentRef Id="cmp4A59CE38606DB2F6CE666AA80C7E2CC6" />
            <ComponentRef Id="cmp991D1A307FF0B92A8CF3C439015AA5ED" />
            <ComponentRef Id="cmpA5827FF555388461F63972C054ED0CC9" />
            <ComponentRef Id="cmp8A90F09A99A4ECAEF471C388090FC7B8" />
            <ComponentRef Id="cmp7526ADFB3E0CF5362B0BF3AB2972B74D" />
            <ComponentRef Id="cmpCCE0D8BC80A1D33066D34D56BF67AB2A" />
            <ComponentRef Id="cmpDB6FDF1975FB1F5D41A07562D43172AC" />
            <ComponentRef Id="cmpEDEC09E337FAD155B0BEF11C1EAE6F9D" />
            <ComponentRef Id="cmp507D3B81FA8917FFB22BB291C991D1A0" />
            <ComponentRef Id="cmpE739EEAEDDDDB5EC21DC067D878DDC4D" />
            <ComponentRef Id="cmp30253D1201E8E463A0AC24A1EA1344EF" />
            <ComponentRef Id="cmp0E41D5376B4D0DC9B68CFE420F69F363" />
            <ComponentRef Id="cmpB9314262D986CC7CCCCC180F9D7D80AC" />
            <ComponentRef Id="cmp54582BA32C9FBE9ED14B71E43A86CA0E" />
            <ComponentRef Id="cmpB8B603E254EC126EA1901A55403E38C6" />
            <ComponentRef Id="cmp9947F16A3CC0D88DD02A8B3546525608" />
            <ComponentRef Id="cmpB7F96D53C776969D59F33B3ADC228A3F" />
            <ComponentRef Id="cmpC2CA6E2BD42215A5E1A928577011C11D" />
            <ComponentRef Id="cmp0DC8E872805305DD7BD89497A9E00668" />
            <ComponentRef Id="cmpE777A7058B3F9EDAA25426A353CBD94C" />
            <ComponentRef Id="cmpDD40B3709C901D4730571E75B828145D" />
            <ComponentRef Id="cmpDA147DD41BE05AB0C241E3E25C195151" />
            <ComponentRef Id="cmpB0C21B76200AB6988C55D9892F120FC7" />
            <ComponentRef Id="cmpB3774B66FF3526DE91027812D2B5D0DE" />
            <ComponentRef Id="cmp91937BC4B63D54811D75C0E3AD53D006" />
            <ComponentRef Id="cmp2FF6428F9F2ABF1251812E93E09F345D" />
        </ComponentGroup>
    </Fragment>
</Wix>