<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- <This code is used for the folder structure> -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--This will access the \ProgramData\ folder. -->
			<Directory Id="CommonAppDataFolder">
				<!--This will access the \ProgramData\Autodesk\ folder. -->
				<Directory Id="TargetVendorFolder" Name="Autodesk">
					<!--This will access the \ProgramData\Autodesk\Revit folder. -->
					<Directory Id="TargetRevitFolder" Name="Revit">
						<!--This will access the \ProgramData\Autodesk\Revit\Addins folder. -->
						<Directory Id="INSTALLFOLDER" Name="Addins">
						<Directory Id="TargetRevit2021Folder" Name="2021"/>
						<Directory Id="TargetRevit2022Folder" Name="2022"/>
						<Directory Id="TargetRevit2023Folder" Name="2023"/>
						<Directory Id="TargetRevit2024Folder" Name="2024"/>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
	
</Wix>
