<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- <ProductCode for CPU types> -->
	<?if $(var.Platform)=x64 ?>
	<?define ProductCode = "{107BCE09-7AFE-4071-9D49-2AB83ABF09B7}"?>
	<?else?>
	<?define ProductCode = "{43578CB4-B9F9-4931-BC20-FB5FC3A590B5}"?>
	<?endif?>
	
	<!-- TODO: Change this code, should be unique for each product -->
	<?define UpgradeCode = "f3590d3a-ada2-424b-8346-adfdc869495d"?>

	<!-- <BuildVersion sync with Product Version> -->
	<?define BuildVersion = "1.2.3.4" ?>
	
	<!-- <Define Product Details> -->
	<Product Id="$(var.ProductCode)" 
			 Name="!(loc.ProductName_$(var.Platform))" 
			 Language="!(loc.Language)" 
			 Version="$(var.BuildVersion)" 
			 Manufacturer="!(loc.CompanyName)"
			 UpgradeCode="$(var.UpgradeCode)">

		<!-- <Package Install Details for the user> -->
		<Package InstallerVersion="200" 
				 Compressed="yes" 
				 InstallScope="perMachine"
				 Manufacturer="!(loc.CompanyName)"
				 Description="!(loc.Description)"
				 Languages="!(loc.Language)"/>
		
		<!-- <The Message to be displayed on attempt to install an old version> --> 
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		
		<!-- <Include the .cab file with the .msi install file> -->
		<MediaTemplate EmbedCab="yes" />

		<!-- <Refrence to the icon for the installer (show at add/remove), using built-in Property> -->
		<Icon Id="icon.ico" SourceFile="$(var.MyCompany.Template.RevitAddin.ProjectDir)\Resources\configs.ico"/>
		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		
		<!-- <Refrence to the application web site, using built-in Property> -->
		<Property Id="APPURLINFOABOUT">http://www.MyCompany.com</Property>

		<!-- <Add basic UI to the installer, using WixUI Extension dll> -->
		<UIRef Id="WixUI_Minimal"/>
		
		<!-- <Define components, shortcuts, files and folders> -->
		<Feature Id="ProductFeature" 
				 Title="MyCompany.Template.Installer"
				 Level="1">
			
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>


</Wix>
