<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCompany.Template.RevitAddin.Properties.AppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCompany.Template.RevitAddin.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyCompany.Template.RevitAddin.Properties.AppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyCompany.Template.RevitAddin.Properties.AppStore>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://apps.exchange.autodesk.com/</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>webservices/checkentitlement</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>D8EF9571-6E04-4BAE-8ABA-B847117E6541</value>
            </setting>
            <setting name="GraceTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="AuthRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </MyCompany.Template.RevitAddin.Properties.AppStore>
    </applicationSettings>
    <userSettings>
        <MyCompany.Template.RevitAddin.Properties.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>asdsd</value>
            </setting>
        </MyCompany.Template.RevitAddin.Properties.Settings1>
        <MyCompany.Template.RevitAddin.Properties.AppStore>
            <setting name="GraceDateTime" serializeAs="String">
                <value>07/09/2023 16:03:00</value>
            </setting>
        </MyCompany.Template.RevitAddin.Properties.AppStore>
    </userSettings>
</configuration>