<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyCompany.Template.AddIn.Properties.AddinAppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MyCompany.Template.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCompany.Template.AddIn.Properties.AddinAppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MyCompany.Template.AddIn.Properties.AddinAppStore>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://apps.exchange.autodesk.com/</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>webservices/checkentitlement</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value />
            </setting>
            <setting name="GraceTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </MyCompany.Template.AddIn.Properties.AddinAppStore>
        <MyCompany.Template.AddIn.Properties.Settings>
            <setting name="RibbonName" serializeAs="String">
                <value>TemplateRibbon</value>
            </setting>
            <setting name="PanelName" serializeAs="String">
                <value>TemplatePanel</value>
            </setting>
            <setting name="PushButtonName" serializeAs="String">
                <value>TemplateButton
</value>
            </setting>
            <setting name="TemplateButtonIcon" serializeAs="String">
                <value>TemplateIcon</value>
            </setting>
        </MyCompany.Template.AddIn.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MyCompany.Template.AddIn.Properties.AddinAppStore>
      <setting name="GraceDateTime" serializeAs="String">
        <value>07/09/2023 16:03:00</value>
      </setting>
    </MyCompany.Template.AddIn.Properties.AddinAppStore>
  </userSettings>
</configuration>