<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCompany.Template.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <MyCompany.Template.AddIn.Properties.Settings>
            <setting name="RibbonName" serializeAs="String">
                <value>TemplateRibbon</value>
            </setting>
            <setting name="PanelName" serializeAs="String">
                <value>TemplatePanel</value>
            </setting>
            <setting name="PushButtonName" serializeAs="String">
                <value>TemplateButton
</value>
            </setting>
            <setting name="TemplateButtonIcon" serializeAs="String">
                <value>TemplateIcon</value>
            </setting>
        </MyCompany.Template.AddIn.Properties.Settings>
    </applicationSettings>
</configuration>